.navbar-dark .navbar-toggler-icon {
  background-image: url(images/navbar/burger.svg);
}
.navbar-toggler {
  padding: 0;
  border: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar {
  height: 74px;
}
.cart {
  margin-right: 10px;
}
.cart-counter {
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  color: white;
  height: 19px;
  width: 19px;
  background-color: $pink;
  border-radius: 50%;
}
.navbar-brand {
  padding: 0;
  margin-right: 41px;
}
@include media-breakpoint-up(md) {
  .offcanvas-end {
    width: 20%;
  }
}
